<div class="course-wrapper">
  <div class="main-content">
    <h2>{{ course.title }}</h2>
    <div class="video">
      <video
        id="my-player"
        class="video-js"
        controls
        preload="auto"
        [poster]=" //vjs.zencdn.net/v/oceans.png"
        data-setup="{}"
      >
        <source
          [src]="course.meta.courseVideoPreview.link"
          type="application/x-mpegURL"
        />
      </video>
    </div>
    <p>{{ course.description }}</p>
  </div>
  <div class="scroll-container">
    <div class="scroll-text">
      <p *ngFor="let data of [].constructor(15)">Study Up!</p>
    </div>
    <div class="scroll-text-right">
      <p *ngFor="let data of [].constructor(15)">Study Up!</p>
    </div>
  </div>
  <div class="lessons">
    <div class="item" *ngFor="let lesson of course.lessons">
      <h3>{{ lesson.order + ' lesson: ' + lesson.title }}</h3>
      <div class="video-lesson">
        <div class="video-container">
          <video
            id="my-player"
            class="video-js"
            controls
            preload="auto"
            [poster]="
              lesson.previewImageLink + '/lesson-' + lesson.order + '.webp'
            "
            data-setup="{}"
          >
            <source [src]="lesson.link" type="application/x-mpegURL" />
          </video>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <i-bs
    routerLink="../"
    class="arrow-back"
    name="arrow-left"
    width="45"
    height="45"
  ></i-bs>
</div>
